version: 2.1

setup: true

orbs: 
  continuation: circleci/continuation@0.2.0

workflows:
  main:
    jobs:
      - continuation/continue:
          configuration_path: .circleci/continued.yml
          parameters: '{ "my_key": "fizzbuzz" }'
